@page
@model IndexModel
@{
    ViewData["Title"] = "Sai Teja's ASP.NET Core App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my ASP.NET Core application!</h1>
    <h1>.NET 💜 Azure</h1>
    <h2>
        <p>
            <strong>This is a simple ASP.NET Core web app created by Sai Teja.</strong>
        </p>
    </h2>
    <h3>Student ID: <span style="color: #0078D7;">500237015</span></h3>
    <p>Feel free to explore the code, try out features, and learn more about ASP.NET Core development!</p>
    <a class="btn btn-primary mt-3" href="https://learn.microsoft.com/aspnet/core/" target="_blank">
        Learn more about ASP.NET Core
    </a>
</div>
